<a href="https://colab.research.google.com/github/Andrew11Morozov/yan.pract/blob/main/morozov_ab_sql_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="border:solid green 2px; padding: 20px">
    
<b>–ê–Ω–¥—Ä–µ–π, –ø—Ä–∏–≤–µ—Ç! –≠—Ç–æ –ê–ª–µ–∫—Å–∞–Ω–¥—Ä –ú–∞—Ç–≤–µ–µ–≤—Å–∫–∏–π</b> –Ø —Ä–∞–¥ —Ç–µ–±—è –≤–∏–¥–µ—Ç—å –Ω–∞ —Ñ–∏–Ω–∞–ª—å–Ω–æ–º —Å–ø—Ä–∏–Ω—Ç–µ (SQL).

---

–Ø –±—É–¥—É –∫—Ä–∞—Å–∏—Ç—å –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Ü–≤–µ—Ç–æ–º, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, –Ω–µ —É–¥–∞–ª—è–π –∏—Ö:

<div class="alert alert-block alert-danger">‚úç
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –Ω—É–∂–Ω–æ –∏—Å–ø—Ä–∞–≤–∏—Ç—å –æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ, –æ–Ω –∫—Ä–∏—Ç–∏—á–µ—Å–∫–∏ –≤–ª–∏—è–µ—Ç –Ω–∞ —É–¥–∞—á–Ω–æ–µ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞.
</div>
    
---

<div class="alert alert-block alert-warning">üìù
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__


–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π —è–≤–ª—è–µ—Ç—Å—è —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–µ–π –∏–ª–∏ —Å–æ–≤–µ—Ç–æ–º. –ú–æ–∂–µ—à—å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –∏—Ö –Ω–∞ —Å–≤–æ—ë —É—Å–º–æ—Ç—Ä–µ–Ω–∏–µ.
</div>

---

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢–∞–∫–æ–π –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π  –≥–æ–≤–æ—Ä–∏—Ç –æ —Ç–æ–º, —á—Ç–æ –±—ã–ª–æ —Å–¥–µ–ª–∞–Ω–æ —á—Ç–æ-—Ç–æ –∫–∞—á–µ—Å—Ç–≤–µ–Ω–Ω–æ–µ –∏ –ø—Ä–∞–≤–∏–ª—å–Ω–æ–µ =)
</div>
    
---
    
–ü—Ä–µ–¥–ª–∞–≥–∞—é —Ä–∞–±–æ—Ç–∞—Ç—å –Ω–∞–¥ –ø—Ä–æ–µ–∫—Ç–æ–º –≤ –¥–∏–∞–ª–æ–≥–µ: –µ—Å–ª–∏ —É —Ç–µ–±—è –≤–æ–∑–Ω–∏–∫–∞—é—Ç –≤–æ–ø—Ä–æ—Å—ã ‚Äî –ø–∏—à–∏ –æ–± —ç—Ç–æ–º –≤ –ø–∞—á–∫–µ, –Ω–µ —Å—Ç–µ—Å–Ω—è–π—Å—è. –¢–∞–∫ –∂–µ, –º–Ω–µ –±—É–¥–µ—Ç –ª–µ–≥—á–µ –æ—Ç—Å–ª–µ–¥–∏—Ç—å –∏–∑–º–µ–Ω–µ–Ω–∏—è, –µ—Å–ª–∏ —Ç—ã –≤—ã–¥–µ–ª–∏—à—å —Å–≤–æ–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏:   
    
<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–∞–ø—Ä–∏–º–µ—Ä, –≤–æ—Ç —Ç–∞–∫.</div>
    
    
---

# –£—á–µ–±–Ω–∞—è —Ñ–∏–Ω–∞–ª—å–Ω–∞—è —Ä–∞–±–æ—Ç–∞ –ø–æ SQL

## –û–ø–∏—Å–∞–Ω–∏–µ —Ä–∞–±–æ—Ç—ã

–ö–æ–º–ø–∞–Ω–∏—è –∫—É–ø–∏–ª–∞ –∫—Ä—É–ø–Ω—ã–π —Å–µ—Ä–≤–∏—Å –¥–ª—è —á—Ç–µ–Ω–∏—è –∫–Ω–∏–≥ –ø–æ –ø–æ–¥–ø–∏—Å–∫–µ. –ó–∞–¥–∞—á–∞ - –ø—Ä–æ–∞–Ω–∞–ª–∏–∑–∏—Ä–æ–≤–∞—Ç—å –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö.

–í –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –æ –∫–Ω–∏–≥–∞—Ö, –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö, –∞–≤—Ç–æ—Ä–∞—Ö, –∞ —Ç–∞–∫–∂–µ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏–µ –æ–±–∑–æ—Ä—ã –∫–Ω–∏–≥. –≠—Ç–∏ –¥–∞–Ω–Ω—ã–µ –ø–æ–º–æ–≥—É—Ç —Å—Ñ–æ—Ä–º—É–ª–∏—Ä–æ–≤–∞—Ç—å —Ü–µ–Ω–Ω–æ—Å—Ç–Ω–æ–µ –ø—Ä–µ–¥–ª–æ–∂–µ–Ω–∏–µ –¥–ª—è –Ω–æ–≤–æ–≥–æ –ø—Ä–æ–¥—É–∫—Ç–∞.

### –û–ø–∏—Å–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

**–¢–∞–±–ª–∏—Ü–∞ `books`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –∫–Ω–∏–≥–∞—Ö:

- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `title` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏;
- `num_pages` ‚Äî –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–∞–Ω–∏—Ü;
- `publication_date` ‚Äî –¥–∞—Ç–∞ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –∫–Ω–∏–≥–∏;
- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—è.

**–¢–∞–±–ª–∏—Ü–∞ `authors`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∞–≤—Ç–æ—Ä–∞—Ö:

- `author_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∞–≤—Ç–æ—Ä–∞;
- `author` ‚Äî –∏–º—è –∞–≤—Ç–æ—Ä–∞.

**–¢–∞–±–ª–∏—Ü–∞ `publishers`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ–± –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞—Ö:

- `publisher_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;
- `publisher` ‚Äî –Ω–∞–∑–≤–∞–Ω–∏–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–∞;

**–¢–∞–±–ª–∏—Ü–∞ `ratings`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ—Ü–µ–Ω–∫–∞—Ö –∫–Ω–∏–≥:

- `rating_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ—Ü–µ–Ω–∫–∏;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –æ—Å—Ç–∞–≤–∏–≤—à–µ–≥–æ –æ—Ü–µ–Ω–∫—É;
- `rating` ‚Äî –æ—Ü–µ–Ω–∫–∞ –∫–Ω–∏–≥–∏.

**–¢–∞–±–ª–∏—Ü–∞ `reviews`**

–°–æ–¥–µ—Ä–∂–∏—Ç –¥–∞–Ω–Ω—ã–µ –æ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å—Å–∫–∏—Ö –æ–±–∑–æ—Ä–∞—Ö –Ω–∞ –∫–Ω–∏–≥–∏:

- `review_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –æ–±–∑–æ—Ä–∞;
- `book_id` ‚Äî –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä –∫–Ω–∏–≥–∏;
- `username` ‚Äî –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è, –Ω–∞–ø–∏—Å–∞–≤—à–µ–≥–æ –æ–±–∑–æ—Ä;
- `text` ‚Äî —Ç–µ–∫—Å—Ç –æ–±–∑–æ—Ä–∞.


### –¶–µ–ª–∏ –∏—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏—è

- –ò–∑—É—á–µ–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö;
- –ê–Ω–∞–ª–∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö;
- –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –∑–∞–ø—Ä–æ—Å–æ–≤ –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∫–∞–∂–¥–æ–≥–æ –∑–∞–¥–∞–Ω–∏—è:

    - –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞;
    - –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É;
    - –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü ‚Äî —Ç–∞–∫ –≤—ã –∏—Å–∫–ª—é—á–∏—Ç–µ –∏–∑ –∞–Ω–∞–ª–∏–∑–∞ –±—Ä–æ—à—é—Ä—ã;
    - –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏;
    - –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫.

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–ó–¥–æ—Ä–æ–≤–æ, —á—Ç–æ –Ω–µ –∑–∞–±—ã–≤–∞–µ—à—å –ø—Ä–æ –æ—Ñ–æ—Ä–º–ª–µ–Ω–∏–µ –ø—Ä–æ–µ–∫—Ç–∞
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–Ω—è–ª.</div>

## –ò–∑—É—á–µ–Ω–∏–µ –±–∞–∑ –¥–∞–Ω–Ω—ã—Ö

### –ó–∞–≥—Ä—É–∑–∫–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫ –∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è

In [ ]:
# –∏–º–ø–æ—Ä—Ç–∏—Ä—É–µ–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏
import pandas as pd
from sqlalchemy import create_engine
# —É—Å—Ç–∞–Ω–∞–≤–ª–∏–≤–∞–µ–º –ø–∞—Ä–∞–º–µ—Ç—Ä—ã
db_config = {'user': 'praktikum_student', # –∏–º—è –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—è
'pwd': 'Sdf4$2;d-d30pp', # –ø–∞—Ä–æ–ª—å
'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
'port': 6432, # –ø–æ—Ä—Ç –ø–æ–¥–∫–ª—é—á–µ–Ω–∏—è
'db': 'data-analyst-final-project-db'} # –Ω–∞–∑–≤–∞–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
 db_config['pwd'],
 db_config['host'],
 db_config['port'],
 db_config['db'])
# —Å–æ—Ö—Ä–∞–Ω—è–µ–º –∫–æ–Ω–Ω–µ–∫—Ç–æ—Ä
engine = create_engine(connection_string, connect_args={'sslmode':'require'})

### –ü—Ä–æ—Å–º–æ—Ç—Ä –≤—Å–µ—Ö –±–∞–∑ –¥–∞–Ω–Ω—ã—Ö

–î–ª—è –±–æ–ª–µ–µ –≥–ª—É–±–æ–∫–æ–≥–æ –æ—Å–º—ã—Å–ª–µ–Ω–∏—è –¥–∞–Ω–Ω—ã—Ö –æ—Å–º–∞—Ç—Ä–∏–≤–∞—é –¥–∞–Ω–Ω—ã–µ –≤ –¥–≤–∞ —ç—Ç–∞–ø–∞. –°–Ω–∞—á–∞–ª–∞ –≤–µ—Å—å —Ñ–∞–π–ª, –∑–∞—Ç–µ–º —Ç–æ–ª—å–∫–æ –ø–µ—Ä–≤—É—é —Å—Ç—Ä–æ–∫—É. –ù–∞ –ø–µ—Ä–≤–æ–º —ç—Ç–∞–ø–µ –ø–æ–Ω–∏–º–∞—é —Å–∫–æ–ª—å–∫–æ —Å—Ç—Ä–æ–∫ —Å–æ–¥–µ—Ä–∂–∏—Ç –±–∞–∑–∞.

In [ ]:
query = """ SELECT * FROM books """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
pd.io.sql.read_sql(query, con = engine)

,book_id,author_id,title,num_pages,publication_date,publisher_id
0,1,546,'Salem's Lot,594,2005-11-01,93
1,2,465,1 000 Places to See Before You Die,992,2003-05-22,336
2,3,407,13 Little Blue Envelopes (Little Blue Envelope...,322,2010-12-21,135
3,4,82,1491: New Revelations of the Americas Before C...,541,2006-10-10,309
4,5,125,1776,386,2006-07-04,268
...,...,...,...,...,...,...
995,996,571,Wyrd Sisters (Discworld #6; Witches #2),265,2001-02-06,147
996,997,454,Xenocide (Ender's Saga #3),592,1996-07-15,297
997,998,201,Year of Wonders,358,2002-04-30,212
998,999,94,You Suck (A Love Story #2),328,2007-01-16,331
999,1000,509,Zen and the Art of Motorcycle Maintenance: An ...,540,2006-04-25,143

In [ ]:
query = """ SELECT * 
            FROM books
            LIMIT 1 """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
pd.io.sql.read_sql(query, con = engine)

   book_id  author_id         title  num_pages publication_date  publisher_id
0        1        546  'Salem's Lot        594       2005-11-01            93

In [ ]:
query = """ SELECT * 
            FROM authors 
            LIMIT 1"""
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 636—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

   author_id      author
0          1  A.S. Byatt

In [ ]:
query = """ SELECT * 
            FROM publishers 
            LIMIT 1 """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 340—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

   publisher_id publisher
0             1       Ace

In [ ]:
query = """ SELECT *
            FROM ratings 
            LIMIT 1"""
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 2793—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

   rating_id  book_id    username  rating
0          1        1  ryanfranco       4

In [ ]:
query = """ SELECT *
            FROM reviews AS r
                        LIMIT 1"""
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 6456—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

,review_id,book_id,username,text
0,1,1,brandtandrea,Mention society tell send professor analysis. ...

### –í—ã–≤–æ–¥—ã

–í –ø–µ—Ä–≤–æ–π —á–∞—Å—Ç–∏ —Ä–∞–±–æ—Ç—ã –±—ã–ª–∏ –≤—ã–ø–æ–ª–Ω–µ–Ω—ã –≤—ã–≥—Ä—É–∑–∫–∏ –±–∞–∑  –¥–∞–Ω–Ω—ã—Ö. –ë–∞–∑—ã –≤—ã–≥—Ä—É–∑–∏–ª–∏—Å—å –Ω–æ—Ä–º–∞–ª—å–Ω–æ, —Å–≤–µ–¥–µ–Ω–∏—è –ø–æ–¥—Ç–≤–µ—Ä–∂–¥–∞—é—Ç —Ä–∞–Ω–µ–µ –æ–±—ä—è–≤–ª–µ–Ω–Ω—ã–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã. –ß–∏—Å–ª–æ —Å—Ç—Ä–æ–∫ –≤ –±–∞–∑–∞—Ö:

- books - 1000 —Å—Ç—Ä–æ–∫;
- authors - 636 —Å—Ç—Ä–æ–∫;
- publishers - 340 —Å—Ç—Ä–æ–∫;
- ratings - 2793 —Å—Ç—Ä–æ–∫–∏;
- reviews - 6456 —Å—Ç—Ä–æ–∫.

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–û—Ç–ª–∏—á–Ω–æ –ø–µ—Ä–≤—ã–π –≤–∑–≥–ª—è–¥ –Ω–∞ –¥–∞–Ω–Ω—ã–µ –µ—Å—Ç—å. –¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –≤—ã–≥—Ä—É–∑–∏–ª –¥–∞–Ω–Ω—ã–µ –∏ –ø–æ—Å–º–æ—Ç—Ä–µ–ª –∏—Ö —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–Ω—è—Ç–æ.</div>

## SQL-–∑–∞–ø—Ä–æ—Å—ã –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞–Ω–∏—è

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ –≤—ã—à–ª–æ –ø–æ—Å–ª–µ 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞

In [ ]:
query = """ SELECT COUNT (book_id)  
            FROM books
            WHERE publication_date > '2000-01-01' """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
pd.io.sql.read_sql(query, con = engine)

   count
0    819

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–†–∞—Å—á—ë—Ç –≤–µ—Ä–Ω—ã–π
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–Ω—è—Ç–æ.</div>

–í –ø–µ—Ä–∏–æ–¥ —Å 1 —è–Ω–≤–∞—Ä—è 2000 –≥–æ–¥–∞ –ø–æ –¥–∞–Ω–Ω—ã–º –±–∞–∑—ã book_id –≤—ã—à–ª–æ 819 –∫–Ω–∏–≥

### –î–ª—è –∫–∞–∂–¥–æ–π –∫–Ω–∏–≥–∏ –ø–æ—Å—á–∏—Ç–∞–π—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –∏ —Å—Ä–µ–¥–Ω—é—é –æ—Ü–µ–Ω–∫—É

In [ ]:
query = """ SELECT b.title, COUNT (r.rating_id), AVG (r.rating)
            FROM ratings AS r
            LEFT JOIN books AS b ON r.book_id = b.book_id
            GROUP BY  b.title
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 2793—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

                                                 title  count       avg
0                            The Count of Monte Cristo     23  4.217391
1                              Count Zero (Sprawl  #2)      2  2.500000
2    The Botany of Desire: A Plant's-Eye View of th...      2  3.500000
3                                 The Poisonwood Bible     22  4.363636
4                                 The Canterbury Tales      6  3.333333
..                                                 ...    ...       ...
994                           Of Love and Other Demons      2  4.500000
995  In the Heart of the Sea: The Tragedy of the Wh...      3  3.333333
996               Welcome to Temptation (Dempseys  #1)      2  5.000000
997                      World's End (The Sandman  #8)      2  4.500000
998                                  Holes (Holes  #1)     31  3.967742

[999 rows x 3 columns]

<div class="alert alert-block alert-danger">‚úç
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__
    
–ó–¥–µ—Å—å –Ω–µ—Å–∫–æ–ª—å–∫–æ –æ—à–∏–±–æ–∫:    (999)
    

  
1. –ü–æ—Å—á–∏—Ç–∞–π, –ø–æ–∂–∞–ª—É–π—Å—Ç–∞, —Å–∫–æ–ª—å–∫–æ –≤—Å–µ–≥–æ —Ä–µ–≤—å—é –≤ –ë–î (–º–æ–∂–Ω–æ –Ω–∞ 1 —ç—Ç–∞–ø–µ), –∏ –ø–æ—Å–º–æ—Ç—Ä–∏ –∫–∞–∫–∞—è —Å—É–º–º–∞ count_review –ø–æ—Å–ª–µ —Ç–≤–æ–µ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
    
2. –ì—Ä—É–ø–ø–∏—Ä—É–µ—à—å –ø–æ Title, –∞ –Ω–µ –ø–æ ID (—É –Ω–∞—Å 1000 –∫–Ω–∏–≥ –∏–∑–Ω–∞—á–∞–ª—å–Ω–æ –≤ –¥–∞–Ω–Ω—ã—Ö)

</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù—É –≤–æ—Ç, —Ç–µ–ø–µ—Ä—å –ø—Ä–∞–≤–∏–ª—å–Ω–æ.</div>

In [ ]:
query = """ WITH 
-- –ø–µ—Ä–≤—ã–π –ø–æ–¥–∑–∞–ø—Ä–æ—Å —Å –ø—Å–µ–≤–¥–æ–Ω–∏–º–æ–º r - —Ä–µ–π—Ç–∏–Ω–≥
            r AS (SELECT r.book_id, COUNT (r.rating_id), AVG (r.rating)
                  FROM ratings AS r
                  GROUP BY  r.book_id
                  )
            SELECT b.title, r.count, r.avg
            FROM books AS b --- –∑–¥–µ—Å—å –±–µ—Ä–µ–º –Ω–∞–∑–≤–∞–Ω–∏–µ –∫–Ω–∏–≥–∏
            LEFT JOIN r  ON r.book_id = b.book_id
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 
pd.io.sql.read_sql(query, con = engine)

                                                 title  count       avg
0            The Body in the Library (Miss Marple  #3)      2  4.500000
1                                            Gal√°pagos      2  4.500000
2                             A Tree Grows in Brooklyn     12  4.250000
3    Undaunted Courage: The Pioneering First Missio...      2  4.000000
4                                          The Prophet      7  4.285714
..                                                 ...    ...       ...
995                                Alice in Wonderland     13  4.230769
996          A Woman of Substance (Emma Harte Saga #1)      2  5.000000
997                                          Christine      7  3.428571
998  The Magicians' Guild (Black Magician Trilogy  #1)      2  3.500000
999                           The Plot Against America      2  3.000000

[1000 rows x 3 columns]

<div class="alert alert-block alert-danger">‚úç
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ2__
    

    
–í—Å–µ–≥–æ —Ä–µ–≤—å—é –≤ –ë–î 2793, –∞ —É —Ç–µ–±—è 6456 –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç –Ω–∏–∂–µ
    

</div>

In [ ]:
query = """ SELECT r.book_id, COUNT (r.rating_id), AVG (r.rating)
            FROM ratings AS r
            GROUP BY  r.book_id
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 2793—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)['count'].sum()

6456

In [ ]:
query = """ SELECT b.title,
                   COUNT (DISTINCT r1.review_id), 
                   AVG(r.rating)
            FROM reviews AS r1
            RIGHT JOIN books AS b ON r1.book_id = b.book_id
            LEFT JOIN ratings AS r ON b.book_id  = r.book_id
            GROUP BY b.book_id
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 
pd.io.sql.read_sql(query, con = engine)#['count'].sum()

                                                 title  count       avg
0                                         'Salem's Lot      2  3.666667
1                   1 000 Places to See Before You Die      1  2.500000
2    13 Little Blue Envelopes (Little Blue Envelope...      3  4.666667
3    1491: New Revelations of the Americas Before C...      2  4.500000
4                                                 1776      4  4.000000
..                                                 ...    ...       ...
995           Wyrd Sisters (Discworld  #6; Witches #2)      3  3.666667
996                        Xenocide (Ender's Saga  #3)      3  3.400000
997                                    Year of Wonders      4  3.200000
998                        You Suck (A Love Story  #2)      2  4.500000
999  Zen and the Art of Motorcycle Maintenance: An ...      4  3.833333

[1000 rows x 3 columns]

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ù–µ–≤–Ω–∏–º–∞—Ç–µ–ª—å–Ω–æ –≤–Ω–∞—á–∞–ª–µ –ø—Ä–æ—á–∏—Ç–∞–ª –∑–∞–¥–∞–Ω–∏–µ. –°–µ–π—á–∞—Å –∏—Å–ø—Ä–∞–≤–∏–ª.</div>

–ó–∞ –≤–µ—Å—å –ø–µ—Ä–∏–æ–¥ –≤–µ–¥–µ–Ω–∏—è –±–∞–∑—ã —Ä–µ–π—Ç–∏–Ω–≥ –±—ã–ª –Ω–∞–∑–Ω–∞—á–µ–Ω –Ω–∞ –∫–∞–∂–¥—É—é –∫–Ω–∏–≥—É. –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —Ä–µ–≤—å—é –≤ —Å—Ç–æ–ª–±—Ü–µ - count, —Å—Ä–µ–¥–Ω–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ - –≤ –∞vg.

### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ, –∫–æ—Ç–æ—Ä–æ–µ –≤—ã–ø—É—Å—Ç–∏–ª–æ –Ω–∞–∏–±–æ–ª—å—à–µ–µ —á–∏—Å–ª–æ –∫–Ω–∏–≥ —Ç–æ–ª—â–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü

In [ ]:
query = """ SELECT *
            FROM (SELECT COUNT (book_id) , p.publisher
                  FROM books AS b
                  LEFT JOIN publishers AS p ON p.publisher_id = b.publisher_id 
                  WHERE num_pages > 50 
                  GROUP BY p.publisher) AS t
            ORDER BY count DESC
            LIMIT 1     
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas
pd.io.sql.read_sql(query, con = engine)

   count      publisher
0     42  Penguin Books

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–°–æ–≥–ª–∞—Å–µ–Ω —Å —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–º. –î–µ–π—Å—Ç–≤–∏—Ç–µ–ª—å–Ω–æ –¥–∞–Ω–Ω–æ–µ –∏–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ —è–≤–ª—è–µ—Ç—Å—è –ª–∏–¥–µ—Ä–æ–º –ø–æ –≤—ã–ø—É—â–µ–Ω–Ω—ã–º –∫–Ω–∏–≥–∞–º
</div>

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–Ω—è—Ç–æ.</div>

–ò–∑–¥–∞—Ç–µ–ª—å—Å—Ç–≤–æ Penguin Books –≤—ã–ø—É—Å—Ç–∏–ª–æ –±–æ–ª—å—à–µ –≤—Å–µ–≥–æ –∫–Ω–∏–≥ (42 —à—Ç.) —Ç–æ–ª—â–∏–Ω–æ–π –±–æ–ª–µ–µ 50 —Å—Ç—Ä–∞–Ω–∏—Ü.


### –û–ø—Ä–µ–¥–µ–ª–∏—Ç–µ –∞–≤—Ç–æ—Ä–∞ —Å —Å–∞–º–æ–π –≤—ã—Å–æ–∫–æ–π —Å—Ä–µ–¥–Ω–µ–π –æ—Ü–µ–Ω–∫–æ–π –∫–Ω–∏–≥ ‚Äî —É—á–∏—Ç—ã–≤–∞–π—Ç–µ —Ç–æ–ª—å–∫–æ –∫–Ω–∏–≥–∏ —Å 50 –∏ –±–æ–ª–µ–µ –æ—Ü–µ–Ω–∫–∞–º–∏

In [ ]:
query = """ SELECT author 
            FROM authors 
            WHERE author_id IN (SELECT author_id 
                          FROM books
                          WHERE book_id IN (SELECT book_id
                              FROM (SELECT book_id, AVG (rating)
                                    FROM ratings 
                                    WHERE book_id IN (SELECT book_id
                                                      FROM (SELECT COUNT (rating), book_id
                                                            FROM ratings 
                                                            GROUP BY  book_id
                                                            HAVING COUNT(rating) >= 50) AS t)
                                   GROUP BY book_id
                                   HAVING AVG (rating) > 0
                                   ORDER BY avg DESC
                                   LIMIT 1
                                   ) AS t
                              )
                             )
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 
pd.io.sql.read_sql(query, con = engine)

                       author
0  J.K. Rowling/Mary GrandPr√©

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__
    
–ü–æ—Å–ª–µ —Å—Ç–æ–ª—å–∫–∏—Ö –ª–µ—Ç? –í—Å–µ–≥–¥–∞...

![image.png](attachment:image.png)

–≠—Ç–æ  - J.K. Rowling/Mary GrandPr√©!

### –ü–æ—Å—á–∏—Ç–∞–π—Ç–µ —Å—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫

In [ ]:
query = """ SELECT AVG (count)
            FROM (SELECT username, COUNT (review_id)
                  FROM reviews AS r
                  WHERE username IN (SELECT username
                                     FROM (SELECT COUNT (rating), username
                                     FROM ratings 
                                     GROUP BY  username
                                     HAVING COUNT(rating) > 50) AS t)
                  GROUP BY username)  AS tt               
            """
# —á—Ç–æ–±—ã –≤—ã–ø–æ–ª–Ω–∏—Ç—å SQL-–∑–∞–ø—Ä–æ—Å, –∏—Å–ø–æ–ª—å–∑—É–µ–º Pandas 6456—Å—Ç—Ä–æ–∫
pd.io.sql.read_sql(query, con = engine)

         avg
0  24.333333

<div class="alert alert-block alert-success">‚úîÔ∏è
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–¢—ã –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ –æ—Ç–æ–±—Ä–∞–ª –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π –∏ —Ä–∞—Å—Å—á–∏—Ç–∞–ª –∏—Ö –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏.

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –ü—Ä–∏–Ω—è—Ç–æ.</div>

–°—Ä–µ–¥–Ω–µ–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –æ–±–∑–æ—Ä–æ–≤ –æ—Ç –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Å—Ç–∞–≤–∏–ª–∏ –±–æ–ª—å—à–µ 50 –æ—Ü–µ–Ω–æ–∫ - 24 –∏ –æ–¥–Ω–∞ —Ç—Ä–µ—Ç—å.

## –û–±—â–∏–µ –≤—ã–≤–æ–¥—ã

–í—Å–µ –±–∞–∑—ã –∏—Å–ø—Ä–∞–≤–Ω—ã –∏ —É–ø—Ä–∞–≤–ª—è–µ–º—ã, –¥–∞–Ω–Ω—ã–µ –≤—ã–≥—Ä—É–∂–∞—é—Ç—Å—è.

<div class="alert alert-block alert-warning">üìù
    

__–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–π –æ—Ç —Ç–∏–º–ª–∏–¥–∞ ‚Ññ1__

–•–æ—Ä–æ—à–æ –±—ã –¥–∞—Ç—å —Ä–∞–∑–≤–µ—Ä–Ω—É—Ç—ã–π –≤—ã–≤–æ–¥

<div class="alert alert-info"> <b>–ö–æ–º–º–µ–Ω—Ç–∞—Ä–∏–∏ —Å—Ç—É–¥–µ–Ω—Ç–∞:</b> –í –¥—Ä—É–≥–æ–π —Ä–∞–∑. –ü–æ–∑–¥–Ω–æ - –Ω–æ—á—å.</div>

In [ ]:
2+2

4